[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/vex"]
	path = themes/vex
	url = git@github.com:themefisher/vex-hugo.git
